<div class="container" fxLayout="column" fxLayoutGap="10px">
    <!--fxLayout is an attribute that angular flexlayout allows us to apply to a div tag and this specifies whether the various content that I include inside this div should be laid out either horizontally or vertically-->
    <!--the column value here means that the contents are laid out vertically and not horizontally-->
    <!--fxLayoutGap, the content that is included in div tag will be separated with a gap of 10px. This defines a gutter separation between two pieces of content in the application template.-->

    <div fxFlex>
        <!--since the outer div has fxLayout="column" the other to divs inside it will be laid out stacked(one over the other vertically)-->
        <div>
            <h3>Menu</h3>
            <hr>
        </div>

    </div>

    <!--mat-grid-list allows yout layout the content as a grid of items rather than a list f items.
    cols(parameter) 12 by default, rowHeight(Parameter)-->
    <!--mat-grid-tile is absically tiles of the grid like for list it is for list-items-->
    <!--matListAvatar of the image could be replaced by Height of the image in grid-list-->
    <!--mat-grid-tile-footer basically states the coentent inside it are the footer of each object's footer or one object's footer.-->
    <!--Angular Pipe symbol ( | ) is used to specify, the format of the object in which it must be returned in, inside the Curly brackets ,eg: {{ dish | uppercase }}-->
    <div fxFlex>
        <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile *ngFor="let dish of dishes" (click)="onSelect(dish)">
                <!--(click)="onSelect(dish), click event is generated where onSelect method is used to select the object 'dish'(this dish is exactly the dish defined in *ngFor decorator). So, this is a handler"-->
                <!--setting up the class in menu.component.ts cooresponding to the handler, when a click is done on anyone of the menu items, then the coorresponding handler will be called and the specific dish information will be passed as a parameter-->
                <img height="200px" src={{dish.image}} alt={{dish.name}}>
                <mat-grid-tile-footer>
                    <h1> {{dish.name | uppercase}} </h1>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <!--add a card elelment to display selectedDish right below the menu (how to use material card element)-->
    <!--*ngIf="selectedDish" is used to specify if the selectedDish is NULL we will add this to DOM and vice versa otherwise. Displays card element with the content.-->
    <!--mat-card has mat-card-header & mat-card-content-->
    <!--mat-card-header has mat-card-title (to show the details of name  of the selectedDish)-->
    <!--By using interpolation with angular pipes of the selectedDish
    {{ selectedDIsh.name | uppercase }}-->
    <!--using interpolation of selectedDish to use images (with mat-card-image as a class in img tag) and description of content-->
    <!--along with mat-card-content e can use mat-card-actions to use buttons (with mat-button as a class in button tag)-->
    <!--
    <div *ngIf="selectedDish">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{ selectedDish.name | uppercase }}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ selectedDish.image }}" alt="{{ selectedDish.name }}">
            <mat-card-content>
                <p>{{ selectedDish.description }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    -->

    <!--mat-list (material list) component, in bootstrap we had the media object, mat-list is similar to the media object-->
    <!--fxFlex, means that this whole tag will be treated as one unit or as one piece of content that will be laid by our flexlayout-->
    <!--mat-list-item, is basically like a <li> tag in normal html code-->
    <!--Angular provides some structural directives that you can apply to your tags, which allows you to create your content.-->
    <!--*ngFor it is a structural directive, allows you to iterate over an array of items, i.e; dishes: Dish[] with JS objects, we ahve acces to the dishes object from menu.component.ts-->
    <!--"let dish of dishes", dishes is the array of dish objects, allows you to acces each element of the array and then iterate it. basically like a for loop. 'dish' becomes a JS object and allows us to access each element of the array, as well as their properties, and makke use of them to define the template-->
    <!--{{dish.image}} & {{dish.name}}, is one-way interpolation, this will get the value of dish.image & dish.name that is defined as an object in TypeScript(TS) file of menu component and dish.ts file, which is available for us to do the layout here-->
    <!--matLine helps to define a Line-->

    <!--<mat-list fxFlex>
        <mat-list-item *ngFor="let dish of dishes">        
            <img matListAvatar src={{dish.image}} alt={{dish.name}}>
            <h1 matLine> {{dish.name}}
            </h1>
            <p matLine>
                <span> {{dish.description}} </span>
            </p>
        </mat-list-item>
    </mat-list>-->

    <app-dishdetail [dish]="selectedDish"></app-dishdetail>

</div>