<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-mat="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div>
        <div fxFlex="50">
            <mat-card *ngIf="dish">
                <mat-card-header>
                    <mat-card-title>
                        <h3>{{dish.name | uppercase}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src={{dish.image}} alt={{dish.name}}>
                <mat-card-content>
                    <p>{{dish.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div fxFlex="50">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h2>Comments</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content *ngIf="dish.comments">
                    <mat-list *ngFor="let comments of dish.comments">
                        <p>{{comments.comment}}<br> {{comments.rating}} Stars<br> -- {{comments.author}} {{comments.date | date:"MMM dd, yyyy"}}</p>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>